
#wrapper {
    margin-top:25px;
    height: 100%;
    padding-left: 0;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    overflow: hidden;
}
 
.green {
    color: #1CE46C !important;
}

.green :hover {
    color:white !important;
}

#wrapper.toggled {
    padding-left: 250px;
    overflow: scroll;
}
 
#sidebar-wrapper {
    z-index: 1000;
    position: absolute; 
    left: 250px;
    width: 250;
 	height:80%;
    margin-left: -250px;
    overflow-x: hidden;
    overflow-y: auto;
    background: white;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
    -webkit-box-shadow: 5px 3px 28px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    5px 3px 28px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         5px 3px 28px 0px rgba(0, 0, 0, 0.3);
	float:left;
}

#sidebar-wrapper:after {
    clear: both;
    content: "";
    display: table;
}


#wrapper.toggled #sidebar-wrapper {
    width: 250px;
}
 
#page-content-wrapper {
    position: absolute;
    padding: 15px;
    width: 100%;  
    overflow-x: hidden; 
}
.xyz{
    min-width: 360px;
}
#wrapper.toggled #page-content-wrapper {
    position: relative;
    margin-right: 0px; 
}
.fixed-brand{
    width: 250px;
}
/* Sidebar Styles */
 
.sidebar-nav {
    position: absolute;
    top: 0;
    width: 250px;
    margin: 0;
    padding: 0;
    list-style: none;
}
 
.sidebar-nav li {
    text-indent: 15px;
    line-height: 40px;
}
 
.sidebar-nav li a {
    display: block;
    text-decoration: none;
    color: #999999;
}
 
.sidebar-nav li a:hover {
    text-decoration: none;
    color: white !important;
    background: #238ae1;
}
 
.sidebar-nav li a:active,
.sidebar-nav li a:focus {
    text-decoration: none;
    background-color: #238ae1 !important;
    color:white !important;
}
 
.sidebar-nav > .sidebar-brand {
    height: 65px;
    font-size: 18px;
    line-height: 60px;
}
 
.sidebar-nav > .sidebar-brand a {
    color: #999999;
}
 
.sidebar-nav > .sidebar-brand a:hover {
    color: #fff;
    background: none;
}
.no-margin{
    margin:0;
}
    #wrapper {
        padding-left: 250px;
    }
    .fixed-brand{
        width: 250px;
    }
    #wrapper.toggled {
        padding-left: 0;
    }
 
    #sidebar-wrapper {
        width: 250px;
    }
 
    #wrapper.toggled #sidebar-wrapper {
        width: 250px;
    }
    #wrapper.toggled-2 #sidebar-wrapper {
        width: 50px;
    }
    #wrapper.toggled-2 #sidebar-wrapper:hover {
        width: 250px;
    }
 
 
    #page-content-wrapper {
        padding: 20px;
        position: relative;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
    }
 
    #wrapper.toggled #page-content-wrapper {
        position: relative;
        margin-right: 0;
        padding-left: 250px;
    }
    #wrapper.toggled-2 #page-content-wrapper {
        position: relative;
        margin-right: 0;
        margin-left: -200px;
        -webkit-transition: all 0.5s ease;
        -moz-transition: all 0.5s ease;
        -o-transition: all 0.5s ease;
        transition: all 0.5s ease;
        width: auto;
 
    }

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}
.clearfix:after {
    clear: both;
}
.clearfix {
    *zoom: 1;
}

nav .fa {
	color:white;
	margin-top: 7px;
}

.name-active {
	background-color: #238ae1;
	color:white !important;
}



.mobile-menu {
	display: none;
}
.logo {
	font-family: Track;
	font-size: 18px;
	float:left;
	margin-left:  30px;
	color: #238ae1;
	margin-top: 5px;
}

@font-face {
	font-family: 'Track';
	src: url('track.otf');
}

nav {
	height: 40px;
	width: 100%;
	background: #238ae1;
	font-size: 11pt;
	font-family: 'PT Sans', Arial, sans-serif;
	position: relative;
}

body {
	background-color: #D6D6D6 !important;
}

nav ul {
	padding: 0;
	margin: 0 auto;
	width: 600px;
	height: 40px;
	float: right;
}
nav li {
	display: inline;
	float: left;
}
nav a {
	color: #949899;
	display: inline-block;
	width: 100px;
	text-align: center;
	text-decoration: none;
	line-height: 40px;
}
nav li a {
	box-sizing:border-box;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
}


@media screen and (max-width: 680px) {
	
	.mobile-list {
		text-align: center;
	}

	.mobile-list nav {
		background-color: white;
	}

	.mobile-list nav li a {
		color:#238ae1;
		font-weight: bold
	}
	.mobile-list nav:hover li a{
		color:white;
	}

	.mobile-list nav:hover {
		background-color: #238ae1;
	}

nav ul {
	width: 100px;
	float:none;
}
nav li {
	display: inline;
	float: left;
}
	#menu-up {
		display: none;
	}
	.mobile-menu {
		display:block;
		float:right;
		margin-right: 30px;
	}
}

@media screen and (max-width: 250px) {
	nav ul {
	width: 100px;
	float:none;
}
nav li {
	display: inline;
	float: left;
}
	.logo {
		display:none;
	}
	.mobile-menu {
		display:block;
		float:right;
		margin-right: 30px;
	}
}

.non-active {
	display:none;
}

/* SIDEBAR */

.groups-container {
	background-color: white;
	margin: 20px;
	width:220px;
	padding-bottom: 10px;
	height:auto;
	-webkit-box-shadow: 5px 3px 28px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    5px 3px 28px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         5px 3px 28px 0px rgba(0, 0, 0, 0.3);
	float:left;
}

.groups-container li {
	color: #238ae1;
	list-style: none;
	font-size: 20px;
	text-align: center;
}

.groups-container  li:hover {
	font-weight: bold;
	font-size: 23px;
	cursor: pointer;
}

.groups-container li span {
	color: black;
}

 .groups {
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	color:#238ae1;
}
.name {
	font-size: 20px !important;
	color: #238ae1;
	text-align: center;
	font-weight: bold;
	cursor:pointer;
	width:100%;
}

.name:hover {
	background-color: #238ae1;
	color:white;
}


.add p{
	font-style: oblique;
}


.groups-container ul {
	padding-left: 0px;
}

@media screen and (max-width: 1000px) {
}

@media screen and (max-width: 750px) {
}

@media screen and (max-width: 560px) {
	.groups-container {
		margin-left:auto !important;
		margin-right:auto !important;
		display: block;
		position:relative;
		float:none;
	}
}

.front-stats {
	height: auto;
	margin-left: 80px;
	float:left;
	width: 670px;
	background-color: white;
	-webkit-box-shadow: 5px 3px 28px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    5px 3px 28px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         5px 3px 28px 0px rgba(0, 0, 0, 0.3);
}

.expenses-table {
	margin-left: auto;
	margin-right:auto;
	padding:20px;
	position: relative;
}

th {
	border-top: 1px solid #238ae1;
}

tr:hover {
	font-weight: bold;
	cursor: pointer;
	background-color: white !important;
}

.expenses-sum {
	font-weight: bold;
	font-size: 17px;
	text-decoration: underline;
	color: black !important;
	float: none;
	margin-left: 30px;
	position: relative;
}

.front-stats p {
	text-align: center;
	font-size: 20px;
	font-weight: bold;
	color:#238ae1;
}

.icons-bar {
	float:left;
	position:absolute;
}

.container {
	margin-left:20px !important;
}
#myChart {
	float:left;
	position: relative;
	margin-left:20px;
}


@media screen and (max-width: 950px) {
	.front-stats {
		float: none;
		margin-left: auto;
		margin-right:auto;
		height: 398px;
	}

	.groups-container {
		float: none;
		margin-left:auto;
		margin-right: auto;
	}
}

.expenses-history {
	background-color: white;
	-webkit-box-shadow: 5px 3px 28px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    5px 3px 28px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         5px 3px 28px 0px rgba(0, 0, 0, 0.3);
	width:400px;
	height:auto;
	margin-left: auto;
	margin-right:auto;
}

.expenses-history .expenses-table {
	width: 90%;
	float:none;
}


 .fa-undo {
	float:right;
	color: white;
}

tr:hover .fa-undo {
	display: block !important;
	color: grey;
}

.bottom-bar {
	margin-bottom:25px;
}

.bottom-bar {
	background-color: black;
}

.bottom-bar ul {
	float:none;
	text-align: center;
	width:500px;
}

.bottom-bar li {
	float:none;
	display: inline-block;
}

.bottom-bar a {
	color:white;
}

.bottom-bar .logo {
	color:white;
	font-family: Arial;
	font-weight: bold;
}


.arrow_box {
	position: fixed;
	top: -30px;
	right: 250px;
	background: #ffffff;
	margin-top:80px;
	z-index:2;
	height: 150px;
	width:200px;
	-webkit-box-shadow: 5px 3px 28px 0px rgba(0, 0, 0, 0.3);
	-moz-box-shadow:    5px 3px 28px 0px rgba(0, 0, 0, 0.3);
	box-shadow:         5px 3px 28px 0px rgba(0, 0, 0, 0.3);
	display: none;
	padding: 10px;
}
.arrow_box:after {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-color: rgba(255, 255, 255, 0);
	border-bottom-color: #ffffff;
	border-width: 15px;
	margin-left: -15px;
}

.left-inner-addon {
    position: relative;
}
.left-inner-addon input {
    padding-left: 30px;    
}
.left-inner-addon i {
    position: absolute;
    padding: 10px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}
.right-inner-addon input {
    padding-right: 30px;    
}
.right-inner-addon i {
    position: absolute;
    right: 0px;
    padding: 10px 12px;
    pointer-events: none;
}

.btn-default:hover {
	background-color: white !important;
}

.search {
	margin-bottom: 10px;
}

.select {
	margin-bottom: 10px;
}

.submit-button {
	margin-left: auto;
	margin-right: auto;
	display:block !important;
	background-color: #238ae1 !important;
	border: none !important;
}

.submit-sutton:hover {
	border: none !important;
}

.pagination {
	margin-top: 0px !important;
	margin-bottom: 0px !important;
}

.pagination-center {
display: block;
text-align: center;
}

.dropdown ul {
	width: auto !important;
	height: auto !important;
}

.flatname {
	position: absolute;
	left:15%;
	margin-left: auto;
	margin-right:auto;
	display: inline-block;
	color: white;
	margin-top: 10px;
	text-align:center;
	font-weight: bold;
	font-size: 18px;
}

.active-bottom {
	text-decoration: underline;
}